@model NETCore.Models.Zamowienie

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj nowe zamówienie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ObuwieId" class="control-label"></label>
                <select asp-for="ObuwieId" class ="form-control" asp-items="ViewBag.ObuwieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KlientId" class="control-label"></label>
                <select asp-for="KlientId" class ="form-control" asp-items="ViewBag.KlientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
